<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="StorePlace_TestCases">

	


  <test name="StorePlace">
      <classes>
     	 <class name="STPL_TestCases.CorpSelectTest"/>
     	 <class name="STPL_TestCases.ODT_Page_Test"/>
     	 <class name="STPL_TestCases.STPL_Testing"/>
      </classes>
  </test> <!-- Test --> 
   
 
</suite> <!-- Suite -->